body {
  background-color: #f9fdff;
}

.App-header {
  text-align: center;

}

.App-intro {
  font-size: large;
}

.tile {
  width: 300px;
  background-color: white;
  color: black;
  margin: 0 auto;
  text-align: center;
}