body {
  background-color: #f9fdff;
  text-align: center;
}

.tile {
  width: 300px;
  background-color: darkgrey;
  color: black;
  margin: 10px 20px;
  padding: 10px 0;
  text-align: center;
  display: inline-block;
}

.newUserButton {
  display: block;
  background: darkblue;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin: 10px auto;
  padding:10px;
}

.input {
  border: 0;
  background: none;
  outline: none;
  margin-top:10px;
  width: 140px;
  font-size: 11px;
}

.input:focus {
  border: solid 1px lightgrey;
}

.deleteButton {
  visibility: hidden;
  float: right;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  color: red;
}

.tile:hover .deleteButton {
  visibility: visible;
}